.post-image img{
    width: 96px;
    height: 96px;
    margin: 10px;
}


#preview_post_image { display:none; margin: 10px; text-align:center; }
#preview_post_image img {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    width: 240px;
}