#welcome #create-posts {
    position: fixed;
    right: -330px;
    top: 50px;
    width: 400px;
    opacity: 0.9;
}

#welcome #create-posts {
    background: #337ab7;
    box-shadow: 0 0 11px 4px #aaa;
    border: 1px solid #337ab7;
}

#welcome #create-posts .post-image { display:none; }

#welcome #create-posts a {
    color:#eee;
}

#welcome .create-posts-wall button {
    background: #000;
}

#welcome .side-widget { display:none; }
#welcome .side-widget h3{ float: right; margin: 0; }
